@import '~bootstrap/scss/bootstrap.scss';

a, a:hover, a:visited {
  text-decoration: none;
}

.App {
  text-align: center;
}

.main {
  background-color: #eeeeee;
  min-height: 87vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #000;
  padding: 1em;

  & .user {
    display: flex;
    flex-direction: row-reverse;
  }

  & div > p{
    text-align: justify;
    padding: 0 2em}
}

.navbar-toggler{
  margin:.3em;
}

footer{
  background: #fff;
  color: #000;
}

